<form class="contact-profile-container">
    {{{inputField_firstName}}}
    {{{inputField_secondName}}}
    {{{inputField_displayName}}}
    {{{inputField_login}}}
    {{{inputField_email}}}
    {{{inputField_phone}}}
    {{{submitButton}}}
</form>: