<div class="container-enter">
    <main class="wrapper-enter">
        <h1 class="title-enter">Регистрация</h1>
        <form class="form-enter" action="" method="post">
            {{{inputField_email}}}
            {{{inputField_login}}}
            {{{inputField_first_name}}}
            {{{inputField_second_name}}}
            {{{inputField_phone}}}
            {{{inputField_password}}}
            {{{inputField_confirmPassword}}}
            {{{submitButton}}}
        </form>
        <div class="wrapper-link-away">
            <label>Не впервые? </label>{{{linkAway}}}
        </div>
    </main>
</div>