{{#if submitButtonIconSrc}}
    <label for="send-new-message" class="message-send-button">
        <img class="new-message-button" src="{{submitButtonIconSrc}}" alt="Отправить сообщение">
        <input class="submit-button" type="submit" id="{{name}}" name="{{name}}" value="{{title}}" hidden>
    </label>
{{else}}
    <input class="submit-button" type="submit" id="{{name}}" name="{{name}}" value="{{title}}" {{#if hidden}}hidden{{/if}}>
{{/if}}
