{{#if submitButtonIconSrc}}
    <label for="{{name}}" class="label-for-submit-button">
        <img class="img-for-submit-button" src="{{submitButtonIconSrc}}" alt="Отправить сообщение">
{{/if}}
        <input class="submit-button" type="submit" id="{{name}}" name="{{name}}" value="{{title}}" {{#if hiddenInput}}hidden{{/if}}>
{{#if submitButtonIconSrc}}
    </label>
{{/if}}
