<a class="{{className}}" name="{{name}}" href="{{linkHref}}" title="{{title}}">
    {{#if backArrowImgSrc}}
        <img class="GoBackImg" src="{{{backArrowImgSrc}}}" alt="{{title}}">
    {{else}}
        {{linkText}}
    {{/if}}
</a>