<div class="form-field-wrapper{{#unless withoutBorder}} form-field-wrapper-border-and-width{{/unless}}">
  <label class="field-label" {{#unless isLabelShown}}hidden{{/unless}} for="{{fieldName}}">{{fieldPlaceholder}}</label>
  <input class="input-field {{fieldName}}-input-field" id="{{fieldName}}" type="{{fieldType}}" name="{{fieldName}}" placeholder="{{fieldPlaceholder}}" value="{{value}}" {{#if isReadOnly}}readOnly{{/if}}>
  {{#if isValidate}}
    {{{errorBlock}}}
  {{/if}}
</div>