<div class="page-container">
    {{{changeAvatarModalWindow}}}
    {{{linkGoBack}}}
    <div class="profile-container">
        <main class="profile-wrapper">
            {{{avatarZone}}}
            <div class="right-info-zone">
                {{{dataChangeZone}}}
                {{{passwordChangeZone}}}
            </div>
        </main>
    </div>
</div>