<div class="page-container">
    <div id="changeAvatarPlace"></div>
    {{{linkGoBack}}}
    <div class="profile-container">
        <main class="profile-wrapper">
            {{{avatarZone}}}
            <div class="right-info-zone">
                <div class="data-change-section">
                    {{{profileDataZone}}}
                    {{{controlZone}}}
                </div>
                {{{passwordChangeZone}}}
            </div>
        </main>
    </div>
</div>