<div class="contact-info">
    <img src="{{contactInfo.imgSrc}}" class="contact-avatar">
    <span class="contact-name">{{contactInfo.name}}</span>
    <div class="contactMenu-wrapper">
        <button class="contactMenu-img"><img src="{{contactMenuSrc}}"></button>
        <div hidden class="contactMenu-panel">
            <a class="addContact">Добавить пользователя</a>
            <a class="deleteContact">Удалить пользователя</a>
        </div>
    </div>
</div>
<ul class="messages-dashboard scrollbar-style">
    {{#each content}}
    <li class="message {{#if this.isAuthorMe}}message-user{{else}}message-contact{{/if}}">
        <p>{{this.message}}</p>
        {{#if this.imgSrc}}<img src={{this.imgSrc}}>{{/if}}
        <span class="dateTime">{{this.dateTime}}</span>
    </li>
    {{/each}}
</ul>
<div class="new-message-wrapper">
    <form class="new-message-form" id="new-message-form" action="" method="post" enctype="multipart/form-data">
        <label for="file-upload" class="custom-file-upload">
            <img src="{{fileIconSrc}}">
        </label>
        <input id="file-upload" type="file"/>
        <div class="new-message-field-wrapper">
            <textarea class="new-message-textarea" rows="1" autofocus minlength="1" form="new-message-form" name="message" placeholder="Сообщение"></textarea>
        </div>
        <label for="send-new-message" class="custom-send-button" aria-autocomplete="none">
            <img src="{{sendMessIconSrc}}">
        </label>
        <input type="submit" name="sendMessage" id="send-new-message">
    </form>
</div>
<script src="index.js" type="module"></script>