<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
      <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
      <link rel="stylesheet" href="{{pathToLayout}}/layout/base.css">
      <link rel="stylesheet" href="{{pathToLayout}}/layout/enter.css">
    <title>{{title}}</title>
  </head>
  <body>
    <div class="container-enter">
        <div class="wrapper-enter">
            <h1 class="title-enter">{{pageTitle}}</h1>
            <form class="form-enter" id="{{pageName}}" action="" method="post">
                {{{body}}}
            </form>
        </div>
    </div>
  </body>
</html>