<div class="{{textareaName}}-field-wrapper">
    <textarea class="{{textareaName}}-textarea" rows="1" minlength="1" form="{{textareaName}}-form" name="{{inputName}}" placeholder="{{textareaPlaceholder}}">{{value}}</textarea>
</div>