<main class="chat">
  <nav class="chat-contacts-panel">
    {{{linkAway}}}
    {{{searchInput}}}
    {{{newContacts}}}
    <div class="emptyLine"></div>
    {{{contacts}}}
  </nav>
  {{{content}}}
</main>